*.pyc
*.svg
!tests/**/**.svg
!tests/**.svg
data/source.svg.json
tests/example/برمت.txt
/tests/tests_files
.coverage
/_works_files
CopySVGTranslation/injection/preparation_backup.py
tests/**/*.json
**/tests/**/*.json
poetry.lock
*.7z
*.zip
*.rar
/example
